.header {
    padding: 2px;
    margin: 20px;
    text-align: center;
    border: 5px inset rgb(16, 16, 136);
    background-color: rgb(5, 5, 50);
    color: bisque;
}

.header__darkButton {
    margin-left: 20px;
    border: 2px solid rgb(122, 88, 246);
    padding: 5px;
    background-color: rgb(5, 5, 50);
    color: bisque;
}

.header__darkButton:hover {
    cursor: pointer;
    background-color: rgb(22, 22, 92);
}

.header__darkButton:active {
    cursor: pointer;
    background-color: rgb(46, 46, 164);
}

.header__lightButton {
    margin-left: 20px;
    border: 2px solid bisque;
    padding: 5px;
    background-color: rgb(193, 235, 235);
    color: rgb(5, 5, 50);
}

.header__lightButton:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.header__lightButton:active {
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}